.game-board {
    height: 75vh;
    width: 75vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.game-board div {
    display: flex;
    border: 2px solid black;
    font-size: 150px;    
    justify-content: center;
    align-items: center;
}