@import url(https://fonts.googleapis.com/css?family=Indie+Flower:regular);
@import url(https://fonts.googleapis.com/css?family=Russo+One:regular);

body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Russo One;
    background-color: #a1a1aa;
}

.winner {
    font-family: Indie Flower;
    font-size: 45px;
}

.game-board {
    height: 70vh;
    width: 45vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.reset {
    font-family: Russo One;
    width: 125px;
    height: 65px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    position: absolute;
    right: 125px;
    top: 25px;
    background-color: #1f2937;
    color: #a855f7;
}

.reset:hover {
    border: 2px solid #498cea;
}

.game-board div {
    display: flex;
    border: 2px solid #1f2937;
    font-size: 105px;    
    justify-content: center;
    align-items: center;
}